{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}


    <div dir="rtl">
        <h2>{{ title }}</h2>
        <h3>{{ message }}</h3>
        #link to database on kaggle
        <span>להורדת מאגר הנתונים לחץ</span>
        <a href="https://www.kaggle.com/unsdsn/world-happiness#2016.csv">כאן</a>


        מקור מאגר הנתונים הוא אתר /www.kaggle.com המתאר את מידת האושר במדינות שונות בעולם
        <br /><br />
  
        <div class="row my-grid-borders">
            <table class="table table-striped">
                <thead>
                   
                </thead>
                <tbody>
                    <tr>
                        <!-- explaination of data -->
                        <td>Overall rank</td>
                        <td> Rank of the country based on the Happiness Score</td>
                    </tr>
                    <tr>
                        <td>Country or region	</td>
                        <td>
                            Name of the country or region the country belongs to
                        </td>
                    </tr>
                    <tr>
                        <td>Score</td>
                        <td>The score from 0-10 received by each of the countries to calculate the extent of their happiness</td>
                    </tr>
                    <tr>
                        <td>GDP per capita</td>
                        <td>The extent to which GDP contributes to the calculation of the Happiness Score.</td>
                    </tr>
                    <tr>
                        <td>Social support</td>
                        <td>The extent to which Social support contributed to the calculation of the Happiness Score.</td>
                    </tr>
                    <tr>
                        <td>Healthy life expectancy </td>
                        <td>The extent to which Life expectancy contributed to the calculation of the Happiness Score</td>
                    </tr>
                    <tr>
                        <td>Freedom to make life choices</td>
                        <td>The extent to which Freedom to make life choices contributed to the calculation of the Happiness Score</td>
                    </tr>
                    <tr>
                        <td>Generosity</td>
                        <td>The extent to which Generosity contributed to the calculation of the Happiness Score</td>
                    </tr>
                    <tr>
                        <td>Perceptions of corruption</td>
                        <td>The extent to which Perception of Corruption contributes to Happiness Score.</td>
                    </tr>
                </tbody>
            </table>
        </div>


        <h3><a href="{{ url_for('HappinessData') }}">Happiness Dataset</a></h3>


    </div>

{% endblock %}
