{% extends "layout.html" %}

{% block content %}

    <h2 style="color:SlateBlue;">Happiness</h2>
<p class="have">
    Happiness is characterized by a strong feeling of joy in life, even with inner signs, such as feelings of enthusiasm, calm or hope and external signs such as a smile or laughter. Happiness is associated with good general feeling, health, security, pleasure, contentment, peace of mind and love.
    <br /> <br />
    Happiness is unique in that it is considered an end in itself, when the importance of the other goals that a person sets for himself during his life stems from the belief that they will ultimately give him direct or indirect happiness.
    <br /> <br />
    And gypsies for such purposes are: money, power (sociology), health or beauty [1], which in this context they were perceived not as goals but as means of happiness. For example, when a person works for wages he does not content himself with obtaining the money alone as a final goal for his efforts. For the most part, he targets his money to finance products or services that will improve his condition and advance him toward a sense of happiness.

</p>
<img src="https://www.makorrishon.co.il/nrg/images/archive/465x349/1/645/776.jpg" style="width:550px;height:460px;" />

{% endblock %}
